extends layout

block content
  h1= title

  //- Define results array
  - 
    var results = [
      { name: "Everest Base Camp", destination: "Nepal", duration: 14 },
      { name: "Amazon Rainforest", destination: "Brazil", duration: 10 },
      { name: "Antarctic Voyage", destination: "Antarctica", duration: 21 }
    ];

  //- Outer container for Bootstrap grid
  .container-fluid
    .row
      each expedition in results
        .col-sm-2
          h3 #{expedition.name}
          p Destination: #{expedition.destination}
          p Duration: #{expedition.duration} days

  //- Add a link to go back to the home page
  br
  a(href='/') Go Back to Home
